<div class="card__pokemons">

    <mat-card class="pokemonCard" *ngIf="resl">
        <app-card-pokemon name={{pokemon.name}} front_default={{pokemon.sprites.other.home.front_default}}
            (eventEmitterRespostaEscolhida)="respostaEscolha($event)"
            (eventeEmitterTeste)="exibirResultadoTemporario($event)">
        </app-card-pokemon>

        <mat-card-actions class="pokemonCardActions">
            <app-buttons (click)="respostaEscolha(op.name)" *ngFor="let op of listSelecao" opcao={{op.name}}
                class="actionsButton"></app-buttons>
        </mat-card-actions>

    </mat-card>

    <mat-card class="pokemonCard" *ngIf="!resl">

        <app-card-pokemon name={{resulPokemon.name}} front_default={{resulPokemon.sprites.front_default}}
            [resul]="resulPokemon.resul" [__mostrarResult]=mostrarResult></app-card-pokemon>

    </mat-card>
</div>