<mat-toolbar color="primary">

    <mat-toolbar-row>

        <mat-icon class="example-icon">home</mat-icon>
        <span><a href="/">Home</a></span>
        <span class="example-spacer"></span>

        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">person</mat-icon>
        <a href="https://www.linkedin.com/in/magno-batista-rocha-448977169/" target="_blank" rel="noopener noreferrer">
            <span>Linkedin</span>
        </a>


        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">person</mat-icon>
        <a href="https://github.com/Magno12" target="_blank" rel="noopener noreferrer" >
            <span>Git Hub</span>
        </a>
        
    </mat-toolbar-row>
</mat-toolbar>